@import "../../assets/scss/variables";
@import "../../assets/scss/patterns";
@import "../../assets/scss/mixins";

.box {
  background: $white_1;
  border-radius: 10px;
  box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);

  .container {
    margin: 0 auto;
    width: 406px;

    .wrapper_img {
      max-width: 406px;
      height: 226px;
      background: #E0E0E0;
      border-radius: 10px;

      .gold {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 66px;
        padding: 9px 12px;
  
        background: linear-gradient(106.06deg, #FFD54F 1.12%, #FEC100 97.96%);
        border-radius: 0px 10px 10px 10px;

        @include typography(700, 18px, 22px);
        color: $white_3;
        text-shadow: 0px 1px 0px rgba(147, 79, 0, 0.3);
      }
    }


    .container_desc {
      max-width: 365.5px;
    }

    .description {
      margin-top: 22px;
      margin-left: 19px;

      .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include typography(500, 14px, 17px);
        color: $grey;

        .people, .amount_rooms, .square {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 8px;
          background: $white_2;
          border-radius: 18px;
        }

        .price_with_duration {

          .price {
            @include typography(700, 20px, 24px);
            color: $purple;
          }
  
          .duration {
            font-weight: 400;
            color: #BDBDBD;
          }
        }

        .condo_details {
          display: flex;
          flex-direction: row;
          align-items: start;
          gap: 7px;

          .people {
            gap: 6.5px;
          }

        }

      }

      .details div:last-child {
        margin-right: 0px;
      }

      .location {
        margin-top: 25px;
        @include typography(500, 16px, 19px);
        color: $light-black;

        .address, .subway_station, .neighborhood, .subway_with_neighborhood {
          display: flex;
          flex-direction: row;
        }

        .address {
          gap: 11.5px;
        }

        .subway_station {
          gap: 6px;
        }


        .neighborhood {
          gap: 6px;

          .wrapper_ellipse {
            display: flex;
            align-items: center;
          }
        }

        .subway_with_neighborhood {
          gap: 30px;
          margin-top: 13px;
        }
      }

      .text {
        margin-top: 18px;
        @include typography(400, 12px, 15px);
        color: $light-grey;
      }

      hr {
        margin-top: 13px;
        border: 1px solid $purple;
        opacity: 0.1;
      }

      .wrapper_buttons {
        padding-bottom: 13px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 10px 15px;
          max-width: 124px;
          background: $white_3;
          border-radius: 18px;
          border: none;
        }

        .button_contacts {
          display: flex;
          flex-direction: row;
          padding: 13px 15px 10px 15px;
          gap: 13px;
          box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
          @include typography(700, 14px, 17px);
          color: $purple;
        }

        .button_more_details {
          padding-top: 13px;
          background: rgba(255, 213, 79, 0.1);
          @include typography(700, 14px, 17px);
          color: #FEC100;
        }
      }
    }


  }
}