@import "../../assets/scss/variables";

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 14px;
  gap: 6px;

  // position: absolute;
  // width: 73px;
  // height: 33px;
  // left: 117px;
  // top: 742px;

  /* #664EF9 */

  // background: #664EF9;
  background: $purple;

  border-radius: 16px;
}