@import "../../assets/scss/variables";
@import "../../assets/scss/patterns";
@import "../../assets/scss/mixins";

.pagination {
  display: flex;
  flex-direction: row;
  gap: 13px;
  @include typography(700, 18px, 22px);
  color: #000000;

  .pagination_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;

  }

  .active {
    border-bottom: 2px solid $yellow;
  }
}