@import "../../assets/scss/variables";
@import "../../assets/scss/patterns";
@import "../../assets/scss/mixins";

.parent {
  position: relative;
}

.child_background {
  @include child(-1);
  position: absolute;
  height: 100%;
}

.child_content {
  @include child(4);
}

.purple_bg {
  background: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
  opacity: 0.1;
}
//----------------------------------------------------

.container {
  @extend %container;
}

.wrapper_bread_crumbs {
  padding-top: 52px;
}

h1.title {
  margin-top: 30px;
}

.recommendation {
  margin-top: 40px;
  display: flex;
  align-items: center;
  @include typography(500, 16px, 100%);
  color: #1E2123;
}

.tags {
  margin-top: 25px;
  padding-bottom: 57px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

main {

  .results {
    margin-top: 83.5px;
    display: flex;
    align-items: center;
    @include typography(700, 20px, 100%);
    color: $light-black;
  }

  .cards, .pagination_with_networks {
    display: flex;
    flex-direction: row;
  }

  .cards {
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 31px;
  }

  .pagination_with_networks {
    justify-content: space-between;
    margin-top: 86px;

    // .pagination {
    //   display: flex;
    //   flex-direction: row;
    //   gap: 13px;
    //   @include typography(700, 18px, 22px);
    //   color: #000000;

    //   .pagination_item {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 22px;
    //     height: 22px;

    //   }

    //   .active {
    //     border-bottom: 2px solid $yellow;
    //   }
    // }

    .wrapper_networks {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .networks_text {
        display: flex;
        align-items: center;
        @include typography(500, 14px, 17px);
        text-align: right;
        color: #686868;
      }

      .networks_icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }

  footer {
    position: relative;
    margin-top: 58.58px;

    .blue_background, .purple_background {
      position: absolute;
      height: 310px;
      width: 100%;
    }
    .purple_background {
      background: linear-gradient(0deg, #7E6AF3 0.06%, #6540CD 100.06%);
    }

    .blue_background {
      background: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
    }





    .white_background {
      position: absolute;
      // mix-blend-mode: overlay;
      opacity: 0.8;
      filter: blur(2px);

    }

    .footer_content {
      position: relative;
      padding: 74px 0 87px 0;
    }

    .map_title {
      @include typography(700, 25px, 30px);
      text-align: center;
      color: #FFFFFF;
    }

    .map_text {
      margin: 20px auto 0;
      max-width: 319px;

      @include typography(500, 16px, 19px);
      text-align: center;
      color: #FFFFFF;
    }

    .wrapper_btn {
      margin-top: 23px;
      display: flex;
      justify-content: center;
    }
  }
}