@import "../../assets/scss/variables";
@import "../../assets/scss/patterns";
@import "../../assets/scss/mixins";

.parent {
  position: relative;
}

.child_background {
  @include child(-1);
  position: absolute;
  height: 100%;
}

.child_content {
  @include child(4);
}

.purple_bg {
  background: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
  opacity: 0.1;
}
//----------------------------------------------------

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper_bread_crumbs {
  padding-top: 52px;
}

h1.title {
  margin-top: 30px;
}

.recommendation {
  margin-top: 40px;
  display: flex;
  align-items: center;
  @include typography(500, 16px, 100%);
  color: #1E2123;
}

.tags {
  margin-top: 25px;
  padding-bottom: 57px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

main {

  .results {
    margin-top: 83.5px;
    display: flex;
    align-items: center;
    @include typography(700, 20px, 100%);
    color: $light-black;
  }

  .cards, .pagination_with_networks {
    display: flex;
    flex-direction: row;
  }

  .cards {
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 31px;
  }

  .pagination_with_networks {
    justify-content: space-between;

    .networks {
      display: flex;
      flex-direction: row;

    }
  }
}