@mixin typography($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

.parent {
  position: relative;
}

.purple_background {
  background: linear-gradient(0deg, #7E6AF3 1.04%, #6540CD 100%);
}

%container {
  margin: 0px auto;
  max-width: 1280px;

  @media (min-width: 1180px) and (max-width: 1350px) {
    max-width: 1160px;
  }

  @media (min-width: 940px) and (max-width: 1180px) {
    max-width: 930px;
  }

  @media (min-width: 800px) and (max-width: 940px) {
    max-width: 790px;
  }

  @media (min-width: 700px) and (max-width: 940px) {
    max-width: 690px;
  }
}

// %wrapper_img {
//   width: 406px;
//   height: 226.46px;

//   @media (min-width: 1080px) and (max-width: 1350px) {
//     width: 406px*0.8;
//     height: 227px*0.8;
//   }
// }



%row {
  display: flex;
  flex-direction: row;
}

%column {
  display: flex;
  flex-direction: column;
}

