%fontStyle_1 {
  font-weight: 700;
  font-size: 16px;
}

%fontStyle_2 { //
  font-weight: 400;
  font-size: 14px;
}

%fontStyle_3 { //
  font-weight: 500;
  font-size: 14px;
}

%fontStyle_4 { //
  font-weight: 700;
  font-size: 14px;
}


%fontStyle_5 { //
  font-weight: 700;
  font-size: 30px;
}


// %fontStyle_1_700_16 {
//   font-weight: 700;
//   font-size: 16px;
// }

// %fontStyle_2_400_14 {
//   font-weight: 400;
//   font-size: 14px;
// }

// %fontStyle_3_500_14 {
//   font-weight: 500;
//   font-size: 14px;
// }

// %fontStyle_4_700_14 {
//   font-weight: 700;
//   font-size: 14px;
// }