@mixin typography($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

%fontStyle_1 {
  font-weight: 700;
  font-size: 16px;
}

%fontStyle_2 { //
  font-weight: 400;
  font-size: 14px;
}

%fontStyle_3 { //
  font-weight: 500;
  font-size: 14px;
}

%fontStyle_4 { //
  font-weight: 700;
  font-size: 14px;
}


%fontStyle_5 { //
  font-weight: 700;
  font-size: 30px;
}

%fontStyle_6 {
  font-weight: 500;
  font-size: 16px;
}

%fontStyle_7 {
  font-weight: 600;
  margin-bottom: 14px;
}

%fontStyle_8 { //2
  font-weight: 700;
  font-size: 25px;
}



%fontStyle_9 {
  font-weight: 700;
  font-size: 60px;
}

%fontStyle_10 {
  font-weight: 400;
  font-size: 14px;
}

%fontStyle_11 {
  font-weight: 500;
  font-size: 20px;
}


