$color_1: #1E2123; //dark-grey
$color_2: #686868; //gray
$color_3: #F8F8F8; //white_2
$color_4: #8291A3; //light-gray
// $color_5: rgba(102, 78, 249, 0.1);
$color_6: #664EF9; //purple
$color_7: #FFFFFF; //white_3
$color_8: #FFFEFE; //white_1
$color_9: #FFD54F; //yellow
$color_10: #000000; //black

// rgba(0, 0, 0, 0.25);
// #F7F7F7;
//#94afff2a;