@import "../../../assets/scss/variables";
@import "../../../assets/scss/patterns";
@import "../../../assets/scss/mixins";


.select {
  position: relative;
  z-index: 10;

  .select_btn {

    display: block;
    position: relative;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
  
    @include typography(600, 14px, 17px);
    color: #1E2123;
  
    .flex_row {
      display: flex;
      flex-direction: row;
    }
  
  
    .select_btn_text {
      margin-right: 15px;
    
      @media (min-width: 940px) and (max-width: 1180px) {
        margin-right: 7px;
      }
    }
  }
  
  .options {
    padding: 0;
    display: block;
    position: absolute;
    top: 51px;
  
    list-style-type: none;
    box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
    border-radius: 10px;
    overflow: hidden;
  
    @include typography(500, 14px, 17px);
    color: #1E2123;
  
  
    .option {
      // padding: 10px 15px;
      padding: 10px 15px 10px 11px ;
      gap: 10px;
  
      width: 242px;
      height: 37px;
      cursor: pointer;
      background: #FFFFFF;

  
      &:hover {
        background: #F8F8F8;
      }

      &:first-child {
        border-radius: 10px 10px 0 0;
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }

  .close {
    display: none;
  }
}


