@import "../../../assets/scss/variables";
@import "../../../assets/scss/patterns";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/components/select";

//for select 5


.select {
  // outline: 1px solid red;

  [class$="-control"] {
    // background-color: salmon;

    @extend %select;
    width: 150px;
    height: 39px;
    margin-left: -1px;
  
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    background-image: url("../../../assets/img/select__arrow_down.svg"); 

    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    // background-size: .65em auto, 100%; 
  
    @media (min-width: 1020px) and (max-width: 1170px) {
      width: 120px;
    }
  
    @media (min-width: 800px) and (max-width: 1020px) {
      width: 112px;
    }
  
    @media (max-width: 800px) {
      width: 112px;
    }

  }

  [class$="-IndicatorsContainer"] {
    display: none;
  }

  [class$="-ValueContainer"] {
    display: flex !important;
    padding: 0;
  }

  [class$="-placeholder"] {
    padding-right: 1px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 0;
    margin: 0;
  }

  [class$="-Input"] {
    display: flex !important;
  }

  [class$="-menu"] {
    // background-color: #b22323;
    z-index: 1000;
  }
}