@import "../../assets/scss/variables";
@import "../../assets/scss/typography";


.card {
  width: 406px;
  height: 500px;
  background: #FFFEFE;
  border-radius: 10px;

  .header_card {
    .wrapper_img {
      width: 406px;
      height: 227px;
      border-radius: 9px;
    }
  
    .title {
      margin-top: 30px;
      @extend %fontStyle_1;
      line-height: 19px;
      color: $dark-grey;
    }
  }


  .card_container {
    max-width: 365px;
    margin: 0px auto 0;


    .description {
      margin-top: 15px;
      @extend %fontStyle_2;
      line-height: 17px;
      color: $grey;
    }

    .hr {
      border: 1px solid $white_2;
      margin: 24px 0 19px;
    }

  }

  .card_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .date {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 7px;
      margin-top: -1px;
      gap: 10px;

      background: $white_2;
      border-radius: 18px;

      @extend %fontStyle_3;
      line-height: 17px;
      text-align: right;
      color: $light-gray;
    }

    .btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 11px 16px 10px;
      gap: 10px;

      background: rgba(102, 78, 249, 0.1);
      border: none;
      border-radius: 17px;

      @extend %fontStyle_4;
      line-height: 17px;
      color: $purple;
    }
  }
}