.container {
  margin: 82px auto;
  max-width: 1280px;

  .title {
    margin: 0 auto;
    max-width: 629px;

    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 2px 5px rgba(0, 14, 142, 0.3);
  }

  .choice_smth {
    margin-top: 50px;

    height: 170px;
  }
  .wrapper_menus {
    margin-top: 204px;
    display: flex;
    flex-direction: row;

    // .menu_cards {}
    .menu_text {
      display: flex;
      flex-direction: column;
    }
  }



}