@import "../../assets/scss/variables";
@import "../../assets/scss/typography";

//288 -> 272

.container {
  margin: 82px auto;
  max-width: 1280px;

  // shared start
  .purple_subtitle {
    @extend %fontStyle_7;
    line-height: 17px;

    background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .title {
    @extend %fontStyle_8;
    line-height: 30px;
  }
  // shared end


  .middle_title {
    margin: 0 auto;
    max-width: 629px;

    @extend %fontStyle_5;
    line-height: 36px;
    text-align: center;
    color: $color_7;
    text-shadow: 0px 2px 5px rgba(0, 14, 142, 0.3);
  }

  .choice_smth {
    margin-top: 50px;
    height: 170px;
  }

  .wrapper_menus, .rent_titles_with_selects {
    display: flex;
    flex-direction: row;
  }

  .wrapper_menus {
    margin-top: 175px;
    gap: 30px;

    .menu_cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      max-width: 953px;
    }

    .menu_text {
      display: flex;
      flex-direction: column;
    }
  }


  .rent_titles_with_selects {
    margin-top: 146px;
    justify-content: space-between;

    .rent_titles {
      display: flex;
      flex-direction: column;
  
      .rent_title {
        margin-top: 15px;
        color: $color_10;
      }
    }

    .rent_selects {
      display: flex;
      flex-direction: row;
      gap: 20px;
      
      .rent_select {
        padding: 5px 15px;
        height: 40px;
        width: 185px;
        background: $color_7;
        box-shadow: 0px 10px 20px rgba(0, 96, 206, 0.1);
        border-radius: 20px;

        @extend %fontStyle_3;
        line-height: 17px;
        color: $color_2;

        .rent_option {
          @extend %fontStyle_3;
          line-height: 17px;
          color: $color_2;
        }
      }
    }
  }


  .cards_with_details, .offers_for_minsk {
    display: flex;
    flex-direction: row;
  }

  .cards_with_details {
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 30px;
  }

  .btns_carousel {
    margin-top: 38px;
  }


  .offers_for_minsk {
    gap: 39px;
    margin-top: 72px;

    .wrapper_offers {
      display: flex;
      flex-direction: column;

      .offers_amount {
        @extend %fontStyle_9;
        // font-weight: 700;
        // font-size: 60px;
        line-height: 73px;
        color: $color_1;

        .plus {
          color: $color_6;
        }
      }

      .offers_text {
        @extend %fontStyle_3;
        line-height: 17px;
        color: $color_4;
        opacity: 0.6;
      }
    }

    .view_offers, .view_offers .wrapper_left_border, 
    .view_offers .wrapper_left_border .btn {
      display: flex;
      flex-direction: row;
    }

    .view_offers {
      align-items: center;

      .wrapper_left_border {
        align-items: center;
        height: 70px;
        border-left: 1px solid #94afff2a;
        // opacity: 0.1;
        //linear
        // #94AFFF
        // 100%
        // #4E64F9
        // 100%
      }

      .btn {
        align-items: flex-start;
        width: 177px;
        padding: 10px 18px;
        margin-left: 25px;

        background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
        box-shadow: 0px 15px 40px rgba(0, 96, 206, 0.15);
        border-radius: 17px;
        border: none;

        @extend %fontStyle_4;
        line-height: 17px;
        color: $color_7;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .wrapper_search {
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .search_title {
      text-align: center;
      // color: #FFFFFF;
      // color: $color_7;
    }

    .search_text {
      margin-top: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;

      // color: #FFFFFF;
      // color: $color_7;
    }

    .search_btn {
      margin-top: 23px;
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding: 10px 18px;

      background: $color_7;
      border-radius: 19px;
    }
  }

  .advertising_cards, .apartment_with_news {
    display: flex;
    flex-direction: row;
  }

  .advertising_cards {
    margin-top: 94px;
    gap: 30px;
    width: 100%;
  }

  .apartment_with_news {
    margin-top: 136.5px;
    justify-content: space-between;
    padding: 0 0 100px;

    .apartment_for_day {
      display: flex;
      flex-direction: column;
      max-width: 842.5px;

      .apartment_title {
        margin-top: 15px;
        margin-bottom: 33px;
        color: $color_1;
      }

      .apartment_text {

        // font-weight: 600;
        // font-size: 14px;

        font-weight: 400;
        font-size: 14px;

        line-height: 150%;
        color: $color_1;
      }


    }
  }
}