@import "../../assets/scss/variables";
@import "../../assets/scss/typography";

.app_header {
  display: flex;
  flex-direction: column;
  height: 100px;

  .container {
    margin: 0 auto;
    min-width: 1284px;
  }

  .container_up_header, .container_down_header, 
  .up_header, .down_header, .container_down_header {
    display: flex;
    flex-direction: row;
  }

  .container_up_header, .container_down_header {
    align-items: center;
  }

  .container_up_header {
    justify-content: space-between;
  }

  .container_down_header {
    justify-content: space-between;
    // @extend %fontStyle_7;
    // line-height: 17px;
    @include typography(600, 14px, 17px);
    // @include typography(700, 40px, 1.5);

  }

  .up_header {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -1px;
    background-color:  $white_2;

    @include typography(400, 14px, 17px);
    color: $light-gray;

    .first_up_header, .second_up_header, .wrapper_point, .wrapper_heart {
      display: flex;
      flex-direction: row;
    }

    .first_up_header {
      gap: 58px;
      margin-top: -3px;
    }
  
    .second_up_header {
      gap: 39px;
      margin-top: -3px;
    }
  
    .wrapper_point {
      align-items: center;
    }
  
    .point_text {
      margin-left: 3px;
    }

    .wrapper_heart {
      width: 95px;
    }

    .heart_text {
      margin-right: 13px;
    }

    .sign_in {
      margin-right: 3px;
      color: #664EF9;
      text-decoration: none;
    }

  }


  .down_header {
    margin-top: -2px;
    height: 60px;
    background: $white_3;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);

    .down_header_items {
      display: flex;
      flex-direction: row;
      gap: 81px;

      .logo {
        margin: -2px 0px 0 1px;
      }
  
      .wrapper_point_2 {
        display: flex;
        flex-direction: row;
      }
  
      .point_2_text {
        margin-right: 15px;
      }
    }
  

  
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38px;
      width: 224px;
      margin: -3px 0 0 0px;
      letter-spacing: 0.1px;
      padding: 13px 16px 10px 12px;
      background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
      border-radius: 19px;
      border: none;

      @include typography(700, 14px, 17px);
      color: $white_3;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

      .plus {
        margin-right: 7px;
        margin-top: -1px;
      }
    }
  }
  
}