@import "../../assets/scss/variables";
@import "../../assets/scss/patterns";
@import "../../assets/scss/mixins";



.app_header {
  display: flex;
  flex-direction: column;
  height: 100px;

  .container {
    margin: 0 auto;
    min-width: 1284px;

    @media (min-width: 1180px) and (max-width: 1350px) {
      min-width: 1150px;
    }

    @media (min-width: 1120px) and (max-width: 1180px) {
      min-width: 1090px;
    }

    @media (min-width: 1060px) and (max-width: 1120px) {
      min-width: 1030px;
    }
  
    @media (min-width: 1000px) and (max-width: 1060px) {
      min-width: 970px;
    }
  
    @media (min-width: 940px) and (max-width: 1000px) {
      min-width: 850px;
    }

    @media (min-width: 800px) and (max-width: 940px) {
      min-width: 780px;
    }

  }

  .container_up_header, .container_down_header, 
  .up_header, .down_header, .container_down_header {
    display: flex;
    flex-direction: row;
  }

  .container_up_header, .container_down_header {
    align-items: center;
  }

  .container_up_header {
    justify-content: space-between;
    @media (min-width: 900px) and (max-width: 1000px) {
      gap: 35px;
    }
  }

  .container_down_header {
    justify-content: space-between;
    @include typography(600, 14px, 17px);

    @media (min-width: 940px) and (max-width: 1000px) {
      gap: 20px;
    }
    @media (min-width: 800px) and (max-width: 940px) {
      gap: 10px;
    }
  }

  .up_header {
    // height: 45px;
    height: 42px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -1px;
    background-color:  $white_2;

    @include typography(400, 14px, 17px);
    color: $light-grey;

    .first_up_header, .second_up_header, .wrapper_point, .wrapper_heart {
      display: flex;
      flex-direction: row;
    }

    .first_up_header {
      margin-top: -3px;
      height: 100%;
      align-items: center;
      gap: 58px;

      @media (min-width: 1050px) and (max-width: 1180px) {
        gap: 40px;
      }

      @media (min-width: 940px) and (max-width: 1180px) {
        gap: 30px;
      }

      @media (min-width: 800px) and (max-width: 940px) {
        gap: 18px;
      }

      .header_link {
        color: $light-grey;
        text-decoration: none;
      }

      .header_link, .wrapper_point {
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 4px solid transparent;
      }

      .border_top_yellow {
        border-bottom: 4px solid $yellow;
      }
    }
  
    .second_up_header {
      gap: 39px;
      margin-top: -3px;

      @media (min-width: 1000px) and (max-width: 1060px) {
        gap: 20px;
      }

      @media (min-width: 800px) and (max-width: 1000px) {
        gap: 12px;

      }

      .signout {
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }
  
    .wrapper_point {
      align-items: center;
    }
  
    .point_text {
      margin-left: 3px;
    }

    .wrapper_heart {
      width: 95px;

      @media (max-width: 1000px) {
        width: 17px;

      }
    }

    .heart_text {
      margin-right: 13px;

      @media (max-width: 1000px) {
        display: none;
      }
    }

    .sign_in {
      margin-right: 3px;
      color: #664EF9;
      text-decoration: none;
    }

  }


  .down_header {
    margin-top: -2px;
    height: 60px;
    background: $white_3;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);


    .down_header_items {
      display: flex;
      flex-direction: row;
      gap: 81px;

      @media (min-width: 1180px) and (max-width: 1350px) {
        gap: 45px;
      }

      @media (min-width: 1050px) and (max-width: 1180px) {
        gap: 30px;
      }

      @media (min-width: 800px) and (max-width: 1180px) {
        gap: 18px;
      }

      .logo {
        margin: -2px 0px 0 1px;
      }
  
      // .wrapper_point_2 {
      //   display: flex;
      //   flex-direction: row;
      // }
  
      // .point_2_text {
      //   margin-right: 15px;

      //   @media (min-width: 940px) and (max-width: 1180px) {
      //     margin-right: 7px;
      //   }
      // }
    }
  

  
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38px;
      width: 224px;
      margin: -3px 0 0 0px;
      letter-spacing: 0.1px;
      padding: 13px 16px 10px 12px;
      background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
      border-radius: 19px;
      border: none;

      @include typography(700, 14px, 17px);
      color: $white_3;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

    
      @media (min-width: 940px) and (max-width: 1000px) {
        width: 136px;
      }

      @media (min-width: 800px) and (max-width: 940px) {
        width: 40px;
      }
      

      .plus {
        margin-right: 7px;
        margin-top: -1px;

        @media (min-width: 800px) and (max-width: 940px) {
          font-size: 25px;
          margin: 0 0 0 2px;
        }
      }

      .plus_text_1 {
        @media (max-width: 1000px) {
          display: none;
        }
      }

      .plus_text_2 {
        @media (max-width: 940px) {
          display: none;
        }
      }
    }
  }
  
}