@import "../../assets/scss/variables";
@import "../../assets/scss/typography";


.container {
  margin: 42px auto 0;
  max-width: 1280px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  box-sizing: border-box;
  width: 100%;
}
.parent {
  position: relative;
}


.title_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0 42px 0;

  .title {
    @include typography(700, 30px, 100%);
    // @extend %fontStyle_5;
    // line-height: 100%;
    color: $dark-grey;

  }

  .input {
    width: 579px;
    height: 35px;
    margin: 5px 0 0 0;
    padding: 0px 20px;

    @include typography(500, 14px, 17px);
    // @extend %fontStyle_3;
    // line-height: 17px;
    color: $grey;
    background: $white_3;
    box-shadow: 0px 10px 20px rgba(0, 96, 206, 0.05);
    border-radius: 20px;
  }
}

.pagination {
  margin: 84px 0px 100px 7px;
}