@import "../../assets/scss/variables";
@import "../../assets/scss/typography";

.container {

  margin: 50px auto;
  max-width: 1028px;
  
  .page_error404 {
    display: flex;
    flex-direction: row;

    .first_column {
      max-width: 474px;

      .title {
        @include typography(700, 60px, 73px);
        // @extend %fontStyle_9;
        // line-height: 73px;
        color: $white_3;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
      }
      
      .text {
        @include typography(500, 20px, 24px);
        color: $white_3;
      }
      
      .btn {
        @extend .row;
        // display: flex;
        // flex-direction: row;
        align-items: center;
        padding: 12px 24px;
        gap: 10px;
      
        background: $yellow;
        border-radius: 33px;
        border: none;
      }
    }


    .huge_error404 {
      background: $white_3;
      opacity: 0.3;
      box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.25);
      max-width: 553px;
    }
  }
}

