@import "../../assets/scss/variables";
@import "../../assets/scss/typography";

.footer {
  display: flex;
  flex-direction: row;
  gap: 57px;
  padding: 40px 80px 30px;
  background: $white_3;
  box-shadow: 0px -11px 40px rgba(39, 95, 158, 0.05);


  .container {
    margin: 142px auto 0;
    max-width: 1280px;
  }
  
  .wrapper_adress, .contact_details, .column {
    display: flex;
    flex-direction: column;
  }
  
  .ru_name {
    margin-top: 11px;
    @include typography(500, 20px, 15px);
    color: $light-gray;
  }
  
  .contact_details {
    max-width: 270px;
    margin-top: 37px;
    @include typography(400, 11px, 13px);

    // font-weight: 400;
    // font-size: 11px;
    // line-height: 13px;
    color: $light-gray;  
  }

  .wrapper_columns, .row, .wrapper_icons {
    display: flex;
    flex-direction: row;
  }
  
  .wrapper_columns {
    gap: 70px;
  }
  
  .last_column {
    margin: 4px 0 0 28px;
  }
  
  .row {
    gap: 53px;
    margin-top: -9px;
  }
  
  .item {
    margin-bottom: 8px;
    @include typography(400, 14px, 17px);
    color: $light-gray;
  
    &:last-child {
      margin-bottom: 0px;
    }
  }
  
  .menu_item {
    @include typography(700, 14px, 17px);
    color: $light-black;
    margin-bottom: 21px;
  }
  
  .wrapper_icons {
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  
    .wrapper_networks {
      display: flex;
      flex-direction: row;
      gap: 20px;
  
      .networks_text {
        @include typography(500, 14px, 17px);
        color: $light-black;
      }
  
      .networks {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 14px;
        margin: -8px 0 0 5px;
      }
  
      .payments {
        display: flex;
        flex-direction: row;
        gap: 5px;
      }
    }
  }

}

