@import "../../assets/scss/variables";
@import "../../assets/scss/patterns";
@import "../../assets/scss/mixins";


.footer {
  display: flex;
  flex-direction: row;
  gap: 57px;
  padding: 40px 80px 30px;
  @include padding_media(40px, 80px, 30px);
  background: $white_3;
  box-shadow: 0px -11px 40px rgba(39, 95, 158, 0.05);
  @include gap_media(57px);
  

  .container {
    @extend %container;

    margin: 142px auto 0;
    max-width: 1280px;
    // margin: 0 auto;
    // padding: 142px;
  }

  .wrapper_adress {
    @media (min-width: 780px) and (max-width: 880px) {
      width: 190px;
    }
    @media (max-width: 780px) {
      width: 158px;
    }
  }
  
  .wrapper_adress, .contact_details, .column {
    display: flex;
    flex-direction: column;
  }
  
  .ru_name {
    margin-top: 11px;
    @include typography(500, 20px, 15px);
    color: $light-grey;
  }
  
  .contact_details {
    max-width: 270px;
    margin-top: 37px;
    @include mt_media(37px);
    @include typography(400, 11px, 13px);
    color: $light-grey;  
  }

  .wrapper_columns, .row, .wrapper_icons {
    display: flex;
    flex-direction: row;
  }
  
  .wrapper_columns {
    gap: 70px;

    @include gap_media(70px);

    // @media (min-width: 1180px) and (max-width: 1350px) {
    //   gap: 60px;
    // }
  }
  
  .last_column {
    margin: 4px 0 0 28px;

    @media (min-width: 1170px) and (max-width: 1320px) {
      margin: 4px 0 0 22px;
    }

    @media (min-width: 1020px) and (max-width: 1170px) {
      margin: 4px 0 0 16px;
    }
  
    @media (max-width: 1020px) {
      margin: 4px 0 0 10px;
    }

    @media (max-width: 900px) {
      max-width: 115px;
    }
  
  }
  
  .row {
    gap: 53px;
    margin-top: -9px;

    @include gap_media(53px);

  }
  
  .item {
    margin-bottom: 8px;
    @include typography(400, 14px, 17px);
    color: $light-grey;
    cursor: pointer;
  
    &:last-child {
      margin-bottom: 0px;
    }

    .item_hidden {
      @media (max-width: 940px) {
        display: none;
      }
    }
  }
  
  .menu_item {
    @include typography(700, 14px, 17px);
    color: $light-black;
    margin-bottom: 21px;
  }
  
  .wrapper_icons {
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    width: 107.4%;
  
    .wrapper_networks {
      margin-top: 7px;
      display: flex;
      flex-direction: row;
      gap: 20px;
  
      .networks_text {
        @include typography(500, 14px, 17px);
        color: $light-black;

        
        @media (max-width: 940px) {
          display: none
        }
      }
  
      .networks {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 14px;
        margin: -8px 0 0 5px;
      }
  
    }

    .payments {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: -8px;
      gap: 16px;

      .payment1 {
        width: 42px;
        height: 13px;
      }

      .payment2 {
        width: 86px;
        height: 16px;
      }

      .payment3 {
        width: 38px;
        height: 16px;
      }

      .payment4 {
        width: 26px;
        height: 20px;
      }

      .payment5 {
        width: 46px;
        height: 16px;
      }

      .payment6 {
        width: 22px;
        height: 30px;
      }

    }
  }

}

