.container_text {
  margin: 60px auto;
  max-width: 844px;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  width: 100%;
}

.parent {
  position: relative;
}

.container_text {
  z-index: 5;


  .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: #1E2123;
    margin-top: 25px;
  }

  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1E2123;
  }

  .date_with_icons {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;

    .date, .wrapper_networks {
      display: flex;
      flex-direction: row;
    }

    .date {
      align-items: center;
      // padding: 10px 7px;
      padding: 10px 17px;
      // margin-top: -1px;
      gap: 10px;

      background: rgba(102, 78, 249, 0.1);
      border-radius: 18px;

      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #664EF9;
    }

    .wrapper_networks {
      gap: 15px;
  
      .networks_text {
        display: flex;
        align-items: center;

        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #1E2123;
      }
  
      .networks_icons {
        display: flex;
        flex-direction: row;
        // gap: 20px;
        gap: 18px;
        margin-top: 1px;
      }
    }
  }

  .wrapper_photo {
    margin-top: 40px;
    width: 844px;
    height: 563px;
  }

  .description {
    margin-top: 40px;
    margin-bottom: 65px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1E2123;

    p {
      margin: 24px 0 0 0;
    }

    p:last-child{
      margin-bottom: 0px;
    }
  }


}

.content_footer {
  // margin: 62px auto;
  margin: 128px auto 100px;
  max-width: 1280px;

  .content_footer_title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #1E2123;
  }

  .content_footer_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 31px;
    margin-top: 44px;
  }
}
