.advertising_box {
  // max-width: 406px;
  min-width: 406px;

  background: #FFFEFE;
  padding: 27px 0 55px;

  box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
  border-radius: 10px;

  .advertising_container {
    margin: 0px auto;
    max-width: 330px;



    .wrapper_advertising {
      display: flex;
      flex-direction: column;
    }

    .advertising_wrapper_title {
      display: flex;
      flex-direction: row;
      gap: 27px;

      .advertising_icon {
        background: #FFFFFF;
        box-shadow: 0px 11px 20px rgba(127, 155, 187, 0.16);
      }

      .advertising_title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #664EF9;
      }

    }

    .advertising_text {
      margin-top: 25px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;

      color: #1E2123;
    }

    .advertising_btn {
      margin-top: 34px;
      width: min-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 18px;
      // gap: 5px;

      /* Linear */
      background: linear-gradient(106.06deg, #FFD54F 1.12%, #FEC100 97.96%);
      box-shadow: 0px 15px 40px rgba(254, 193, 0, 0.15);
      border-radius: 17px;
    }
  }
}