@import "../../assets/scss/variables";
@import "../../assets/scss/patterns";
@import "../../assets/scss/mixins";
@import "../../assets/scss/components/input";
@import "../../assets/scss/components/select";
@import "../../assets/scss/components/button";




.container {
  max-width: 1280px;
  margin: 0 auto;
}

.child_input {
  @extend %child_input;
}
.parent {
  @extend %parent;
}
.without_icon {
  @extend %without_icon;
}

//shared start
.select {
  @extend %select;
  width: 150px;
  height: 39px;
  margin-left: -1px;

  // сброс всех стилей
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  // 

  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
  background-image: url("../../assets/img/select__arrow_down.svg"); 
  
  //select__arrow_down.svg
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  // background-size: .65em auto, 100%; 

  @media (min-width: 1020px) and (max-width: 1170px) {
    width: 120px;
  }

  @media (min-width: 800px) and (max-width: 1020px) {
    width: 112px;
  }

  @media (max-width: 800px) {
    width: 112px;
  }

  // option {
  //   width: 150px;
  //   height: 37px;

  //   font-weight: 500;
  //   font-size: 14px;
  //   line-height: 17px;
  //   color: #1E2123;
  // }
}

.btn {
  @extend %btn;
  height: 37px;
}

.white {
  @extend %white;
  padding: 13px;
  width: 111px;
}

.light {
  @extend %light;
}

.purple {
  @extend %purple;
}

.yellow {
  @extend %yellow;
}


.input {
  @extend %input;
  background: #F8F8F8;
  @include typography(500, 14px, 17px);

  color: #686868;
  padding: 16px 16px 15px 36px !important;
}

.w100h37 {
  @extend %w100h37;
}
//shared end



.wrapper_filters {
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.08);
  padding: 22px 21px 23px;
  border-radius: 10px;
  width: 100%;

  @media (min-width: 610px) and (max-width: 940px) {
    gap: 10px; //mainPage
    padding: 22px 17px 20px;
  }
  
  @media (max-width: 610px) { 
    padding: 22px 14px 20px;

  }
}

.filters {
  display: flex;
  flex-direction: column;
  // gap: 50px;

  .base_filters_with_buttons {
    display: flex;
    flex-direction: row;

    @media (max-width: 710px) {
      flex-direction: column;
    }

    .base_filters {
      display: flex;
      flex-direction: row;
      // gap: 50px;
      gap: 20px; //mainPage

      @media (min-width: 940px) and (max-width: 1020px) {
        gap: 14px; //mainPage
      }
  
      // @media (min-width: 800px) and (max-width: 940px) {
      //   gap: 8px; //mainPage
      // }
  
      @media (max-width: 940px) {
        gap: 8px; //mainPage
      }
    }
  


    .filter_catalog {
      flex-direction: row;
    }

    .inputs {
      padding-right: 15px !important;
    }

    .btn_more_details {
      gap: 0px !important;
      padding-right: 11px;
    }

    .wrapper_buttons {
      align-items: center;

      @media (min-width: 710px) and (max-width: 940px) {
        flex-direction: column;
      }

      @media (max-width: 710px) {
        flex-direction: row;
        justify-content: center;
      }
    }

    .filter_main, .filter_catalog {
      
      display: flex;
      gap: 20px;
  
      // opacity: 0.1;
      // border: 1px solid #664EF9;
      // transform: rotate(90deg);
      border-right: 1px solid #654ef917;
  
      .filter_name {
        display: flex;
        align-items: center;
        @include typography(500, 14px, 17px);
        color: $purple;
        margin-top: -7px;
      }

      .filter_name_main {
        color: #BDBDBD;
      }

      .filter_name_moredetails {
        color: #1E2123;

        @media (max-width: 940px) {
          display: none;
        }

      }

      .wrapper_price {
        display: flex;
        flex-direction: row;
      }
  
      .filter {
        display: flex;
        flex-direction: row;
        align-items: center;
  
        .dash {
          display: flex;
          align-items: center;
          margin: 0 6px;
        }
  
        .btn_setup {
          border: none;
          background: transparent;
        }
  
      }
    }

    .filter_catalog {
      @media (min-width: 800px) and (max-width: 940px) {
        gap: 5px; //mainPage
        margin-top: -12px;
      }
      // @media (min-width: 800px) and (max-width: 940px) {
      //   gap: 5px; //mainPage
      //   margin-top: -12px;
      // }
      @media (min-width: 710px) and (max-width: 940px) {
        gap: 5px; //mainPage
        margin-top: -12px;
      }

      @media (max-width: 710px) {
        margin-top: 28px;
      }
    }

    .filter_main {
      flex-direction: column;
      gap: 11px;
      padding-right: 20px;
  
      @media (min-width: 610px) and (max-width: 1020px) {
        padding-right: 14px; //mainPage
      }

      // @media (min-width: 560px) and (max-width: 610px) {
      //   padding-right: 9px;
      // }

      @media (max-width: 610px) {
        padding-right: 9px;
      }
    }
  }

  // .more_details {
  //   margin-top: 50px;
  //   display: flex;
  //   flex-direction: row;
  //   gap: 48px;
  // }

}