@import "../../assets//scss/variables";
@import "../../assets//scss/patterns";


.bread_crumbs {
  display: flex;
  flex-direction: row;
  align-items: center;

  .bread_crumbs_item {
    display: flex;
    align-items: center;
    @include typography(400, 14px, 100%);
    color: $grey;
  }
  
  .ellipse {
    margin: 0 7px 0;
  }
}