@import "../../assets/scss/variables";
@import "../../assets/scss/patterns";
@import "../../assets/scss/mixins";

.menu_text {
  margin-top: 1px;
  max-width: 297px;
  @include typography(400, 14px, 17px);


  .title {
    @include typography(700, 18px, 22px);
    color: #333333;
    margin-bottom: 15px;
  }

  .popular_title {
    margin-top: -10px;
  }

  .popular_name {
    margin-bottom: 10px;
    color: #FEB700;
  }

  .items {
    margin-bottom: 40px;

    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    
      .item_name {
        color: #FEB700;
      }
      
      .item_amount {
        color: #BDBDBD;
      }
    }

  }

  .items:last-child {
    margin-top: 0;
  }



}

