.news {
  // max-width: 406px;
  width: 406px;

  background: #FFFEFE;
  
  box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
  border-radius: 10px;

  .news_container {
    margin: 0 auto;
    padding: 33px 0 31px;
    width: 360px;
    // max-width: 360px;


    .title_news {
      margin: 33px 0 26px;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;

      color: #1E2123;
    }

    .view_all {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12.5px;
      padding: 10px;
      margin-top: 24px;

      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #664EF9;

      background-color: transparent;
      border: none;
    }
  }


}
