@import "../../assets/scss/variables";
@import "../../assets/scss/typography";

.one_news {
  display: flex;
  flex-direction: column;
  // border-bottom: 1px solid #664EF9;
  border-bottom: 1px solid #654ef915;

  &:last-child {
    border: none;
  }

  .onenews_title {
    margin-top: 10px;
    @include typography(600, 14px, 17px);
    color: $light-black;
  }

  .onenews_date {
    margin-top: 6px;
    padding-bottom: 10px;
    @include typography(400, 12px, 15px);
    color: $light-grey;
  }
}


.news {
  // max-width: 406px;
  width: 406px;

  background: #FFFEFE;
  
  box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
  border-radius: 10px;

  .news_container {
    margin: 0 auto;
    padding: 33px 0 31px;
    width: 360px;
    // max-width: 360px;


    .title_news {
      margin: 33px 0 26px;
      @include typography(700, 25px, 30px);
      // font-weight: 700;
      // font-size: 25px;
      // line-height: 30px;

      color: #1E2123;
    }

    .view_all {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12.5px;
      padding: 10px;
      margin-top: 24px;

      @include typography(700, 14px, 17px);
      // font-weight: 700;
      // font-size: 14px;
      // line-height: 17px;
      color: #664EF9;

      background-color: transparent;
      border: none;
    }
  }


}
