@import "../../assets/scss/variables";
@import "../../assets/scss/typography";

.container_text {
  margin: 60px auto;
  max-width: 844px;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  width: 100%;
}

.parent {
  position: relative;
}

.container_text {
  z-index: 5;


  .title {
    margin-top: 25px;
    @include typography(700, 30px, 100%);
    // @extend %fontStyle_5;
    // line-height: 100%;
    color: $dark-grey;
  }

  .date_with_icons {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;

    .date, .wrapper_networks {
      display: flex;
      flex-direction: row;
    }

    .date {
      align-items: center;
      padding: 10px 17px;
      gap: 10px;

      background: rgba(102, 78, 249, 0.1);
      border-radius: 18px;

      @include typography(500, 14px, 17px);
      // @extend %fontStyle_3;
      // line-height: 17px;
      color: $purple;
    }

    .wrapper_networks {
      gap: 15px;
  
      .networks_text {
        display: flex;
        align-items: center;

        @include typography(400, 14px, 17px);
        // @extend %fontStyle_2;
        // line-height: 17px;
        color: $dark-grey;
      }
  
      .networks_icons {
        display: flex;
        flex-direction: row;
        gap: 18px;
        margin-top: 1px;
      }
    }
  }

  .wrapper_photo {
    margin-top: 40px;
    width: 844px;
    height: 563px;
  }

  .description {
    margin-top: 41px;
    margin-bottom: 65px;

    // font-weight: 400;
    // font-size: 16px;
    // line-height: 150%;

    @include typography(400, 12px, 1.551);
    // font-size: 12px;
    // font-weight: 400;
    // line-height: 1.551;
    letter-spacing: 0.3px;
    color: $dark-grey;


    p {
      margin: 24px 0 0 0;
    }

    p:last-child{
      margin-bottom: 0px;
    }
  }
}

.content_footer {
  margin: 128px auto 100px;
  max-width: 1280px;

  .content_footer_title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: $dark-grey;
  }

  .content_footer_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 31px;
    margin-top: 44px;
  }
}
